$fly-color-primary: #f27a1a;
$fly-color-primary-100: #ef6114;
$fly-color-primary-light: #fef4eb;
$fly-color-white: #ffffff;


$fly-color-disabled: #fcfcfc;
$fly-color-disabled-100: #dadada;
$fly-color-disabled-200: #b1b1b1;
$fly-color-disabled-300: #5d5d5d;

$fly-color-green: #09a44e;
$fly-color-danger: #ff3028;
$fly-color-dark: #212121;